<!doctype html>

<div ng-controller="FaqController" data-ng-init="init()">
    <div class="jumbotron text-center">
        <h1>Questions we often get</h1>

        <p>{{ tagline }}</p>
    </div>
    <div class="col-xs-12">
        <p>
            <button class="btn btn-block btn-default" data-toggle="collapse" data-target="#Q1">Is it necessary to
                pre-inscribe for courses?
            </button>
        </p>
        <div class="collapse" id="Q1">
            <div class="well">Yes it is. Otherwise you risk not being able to participate in the course because it is
                already fully booked.
            </div>
        </div>

        <p>
            <button class="btn btn-block btn-default" data-toggle="collapse" data-target="#Q2">Can a bring a friend who
                is not in university?
            </button>
        </p>
        <div class="collapse" id="Q2">
            <div class="well">Unfortunately this is not possible. Unless the friend is matriculated in another Swiss
                university it is not possible for him/her to participate.
            </div>
        </div>


        <p>
            <button class="btn btn-block btn-default" data-toggle="collapse" data-target="#Q3">Can a bring a friend who
                is not in university?
            </button>
        </p>
        <div class="collapse" id="Q3">
            <div class="well">Content should go here</div>
        </div>

        <!--
        <p><button class="btn btn-block btn-default" data-toggle="collapse" data-target="#Q4">Can a bring a friend who is not in university?</button></p>
            <div class="collapse" id="Q4">
                <div class="well">Content should go here</div>
            </div>

        <p><button class="btn btn-block btn-default" data-toggle="collapse" data-target="#Q5">Can a bring a friend who is not in university?</button></p>
            <div class="collapse" id="Q5">
                <div class="well">Content should go here</div>
            </div>

        <p><button class="btn btn-block btn-default" data-toggle="collapse" data-target="#Q6">Can a bring a friend who is not in university?</button></p>
            <div class="collapse" id="Q6">
                <div class="well">Content should go here</div>
            </div>
            -->
    </div>
</div>

