<!doctype html>

<div ng-controller="FaqController" data-ng-init="init()">
    <div class="jumbotron text-center">
        <h1>Questions we often get</h1>

        <p>{{ tagline }}</p>
    </div>
    <div class="col-xs-12">
        <p>
            <button class="btn btn-block btn-default" data-toggle="collapse" data-target="#Q1">Is it necessary to
                pre-inscribe for courses?
            </button>
        </p>
        <div class="collapse" id="Q1">
            <div class="well">Yes it is. Otherwise you risk not being able to participate in the course because it is
                already fully booked.
            </div>
        </div>

        <p>
            <button class="btn btn-block btn-default" data-toggle="collapse" data-target="#Q2">Can a bring a friend who
                is not in university?
            </button>
        </p>
        <div class="collapse" id="Q2">
            <div class="well">Unfortunately this is not possible. Unless the friend is matriculated in another Swiss
                university it is not possible for him/her to participate.
            </div>
        </div>


        <p>
            <button class="btn btn-block btn-default" data-toggle="collapse" data-target="#Q3">How can I renew my subscription?
            </button>
        </p>
        <div class="collapse" id="Q3">
            <div class="well">Please log in to your profile on <strong>my.unifr.ch</strong>. Choose the tab: "Renewal Sport Subscription on the left.
            </div>
        </div>
        <p>
            <button class="btn btn-block btn-default" data-toggle="collapse" data-target="#Q4">What are the tariffs for the fitness rooms?
            </button>
        </p>
        <div class="collapse" id="Q4">
            <div class="well">
                <ul class="list-unstyled">
                    <li>Period of validity and price</li>
                    <li>Tariff 1 01.09.2017 - 30.09.2018 CHF 100.00</li>
                    <li>Tariff 2 01.01.2018 - 30.09.2018 CHF 80.00</li>
                    <li>Tariff 3 01.06.2018 - 30.09.2018 CHF 50.00</li>
                </ul>
            </div>
        </div>

        <p>
            <button class="btn btn-block btn-default" data-toggle="collapse" data-target="#Q5">Is there information available on how to use the machines in the fitness?
            </button>
        </p>
        <div class="collapse" id="Q5">
            <div class="well">For more guidance in the fitness, you can sign of for sessions with a personal trainer.</div>
        </div>

        <p>
            <button class="btn btn-block btn-default" data-toggle="collapse" data-target="#Q6">I have lost something during my UniSport course, who should I contact?
            </button>
        </p>
        <div class="collapse" id="Q6">
            <div class="well">
                All found items are returned to the Lost&Found service of the university in the city the course took place.
                This can be either Bern, Fribourg or Neuchâtel, depending on where the course took place.
            </div>
        </div>

    </div>
</div>

