<h1>UNISPORT BENEFRI</h1>
<div ng-controller="MainController" class="bg">

    <div style="height: 305px">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <h4>Slide {{$index}}</h4>
                    <p>{{slide.text}}</p>
                </div>
            </slide>
        </carousel>
    </div>


    </br>

    <p id="divouter2">This is a project combining the unisport offers of the three Swiss universities of Bern, Neuchatel
        and Fribourg. We read the real data from the universities' sports pages and make the details of the courses
        available to you.</p>
</div>