<div class="jumbotron text-center" ng-controller="CourseController">
    <h1>Courses</h1>

    <p>{{ tagline }}</p>

    <div class="input-group input-group-lg">
        <span class="input-group-addon glyphicon glyphicon-search" id="sizing-addon1" aria-hidden="true"></span>
        <input type="text" class="form-control" ng-model="formData.course_name" ng-change="searchCourses(formData)"
               placeholder="Search for Course Name" aria-describedby="sizing-addon1">
    </div>

    <div ng-show="searchCoursesResult">
        <ul ng-repeat="course in searchCoursesResult">
            <li>{{course}}</li>
        </ul>
    </div>
    <div ng-show="searchCoursesResult.length==0" class="ng-hide">
        <p>No courses found with course name "{{formData.course_name}}"</p>
    </div>

    <br><br>
    <button class="btn btn-primary" ng-click="allCourses()">Show All Courses</button>
    <ul ng-repeat="course in allCoursesResult">
        <li>{{course}}</li>
    </ul>
</div>